html:not(.psc_form-small) body {
    
}


:root:not(.psc_mode-ag):not(.psc_mode-md) .pt_homepage {

    background-color: #2f5370 ;
}

:root.psc_mode-ag .nuitile .nuilp,
:root.psc_mode-md .nuitile .nuilp
{
  border: 1px solid #bbb;
}

.nuitile .nuilp {
  border: none;
}

.ps_header_bar {
    border-bottom: 1px solid rgb(23,54,81);

}

.nui_pagegb {
    width: 100%;
    padding-left: 0em;
    padding-right: 0em;
}

.nuihidden {
    display: none;
}



.persmode .lppagehdr {
    padding: 0.6em;
    height: 3em;
}

.nui_cfg-cancel {
    position: absolute;
    top: 0.1em;
    left: 0.20em;
}

.nui_cfg-save {
    position: absolute;
    top: 0.1em;
    right: 0.60em;
}


.lpnameedit {
    position: relative;

    margin: auto;
    width: 14em;
}

.nuilpcont .lpnameedit {
    display: none;
}

.nuilpcont .lpnameedit .ps_box-label {
    width: initial;
}

.persmode .nuilpcont .lpnameedit {
    display: block;
    float: left;
    margin-left: 1em;
}

.persmode .nuitilegrid {
    float: left;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 0.90em;
}



.persmode .nuilpcont .nuilp {
    border: 1px solid;
}

.persmode .nuilpcont .nuilp .ps_box-grouplet {
    display: none;
}

.lpnameedit input{
    width: 17em;
}

.lpnameedit>span {
    color: #fff;
    font-weight: bold;
}

.NUISelLP, .NUISelLP iframe {
    width: 300px !important;
}

.nuigb div.ps_grid-row:nth-child(odd) {
    background-color: #fff;
}
.nuigb div.ps_grid-row:nth-child(even) {
    background-color: #eee;
}


.nuitilegrid {
    margin: 0 auto;
    display: inline-block;
    padding-bottom: 40px;
}

.nuitilegrid div.ps_grid-row {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 5px;
    color: #666;
}

.psc_rowact:not(.psc_disabled):active {
    background: #eeeeec;
}



.nuitilegrid div.ps_grid-row.nuihidden {
    display: none;
}

.nuitilegrid div.ps_grid-row div.ps_grid-cell {
    overflow: hidden;
}


.nuilp {
    color: #666;
}

.pt_homepage .nuitile .nuilp:focus {
    border: 2px dotted;
}


.nuitile {
    float: left;

}




.nuitileclose {
    position: absolute;
    right: 0em;
    top: 0em;
    z-index: 2;
}

.nuiselmove {
    position: absolute;
    right: 0em;
    top: 0em;
    bottom: auto;
    z-index: 2;
}

.persmode .nuiselmove {
    top: auto;
    bottom: 0em;
}

.pt_homepage .nuiselmove .ps-button, .pt_homepage .nuiselmove .ps-button:hover,
.pt_homepage .nuitileclose .ps-button, .pt_homepage .nuitileclose .ps-button:hover,
.pt_homepage .hppnlclose .ps-button, .pt_homepage .hppnlclose .ps-button:hover {
    display: block;
	padding: 0.3em !important;
}

.pt_homepage .nuiselmove .ps-button:hover > img, 
.pt_homepage .nuitileclose .ps-button:hover > img,
.pt_homepage .hppnlclose .ps-button:hover > img {
	-webkit-transform:scale(1.2); -moz-transform:scale(1.2); -ms-transform:scale(1.2); transform:scale(1.2);
}

:root.tablet .persmode .nuitileclose, :root.tablet .persmode .nuiselmove {
    line-height: 1.6em;
}

:root.tablet .persmode .nuitileclose img, :root.tablet .persmode .nuiselmove img {
    width: 1.5em;
}

.tile-seqnum {
    position: absolute;
    right: 5px;
    top: 50%;
    z-index: 2;
}



div.fpage {
    display: none;
    margin-left: 100%
}

div.fpage.fopen {
    display: block;
}

[draggable] {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-user-drag: element;
}

.ps_box-grouplet img {
  -webkit-user-drag:none;
  -moz-user-drag: none;
  -ms-user-drag:none;
  user-drag: none;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:root.phone .ps_box-grouplet img, :root.tablet .ps_box-gropulet img {
  pointer-events: none;
}



#PT_HEADER_PANEL .persmode .ps_header_bar {
display: block;
border: none;
border-bottom: 1px solid rgb(204,204,204);
vertical-align:middle;
position: relative;
background-image:none;
background-color: rgb(245,245,245);

    color: rgb(171, 91, 26);
}

.nui_pagegb.persmode {
    background: #fff;
}

.lpfooter.persmode {
    display: none;
}

:root.psc_mode-access .lpfooter .lpTabIndicators {
    display: none;
}

.nuihppnl {
    display: inline-block;
    width: 0em;
    overflow: hidden;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    -webkit-transition:width 0.5s ease; -moz-transition:width 0.5s ease; -ms-transition:width 0.5s ease; transition:width 0.5s ease;
    background-color: rgba(245, 245, 245, 1);
}

.nuihppnl .hppnllist {
    position:absolute;
    top: 3.6em;
    bottom: 0em;
    left: 0em;
    right: 0em;
}

.hppnlgrid ul {
    list-style: none;
    padding-left: 0em;
    padding-top: 0em;
}


.hppnladdgb {
    background: rgb(226,226,226);
    border-bottom: 0.07em solid #ccc;
    border-left: 0.07em solid #ccc;
    height: 3.6em;
    padding: 0.6em;
}

.hppnladdgb>div{
    display: inline-block;
}


.hppnladdbtn {
    width: 100%;
    text-align: center;
}

.hppnladdbtn a:link {
    text-align: center;
}


.nuihplabel {
    font-size: 1em;
    
    border-bottom: 0.07em solid #ccc;
    background-image: url('/cs/had/cache/PTNUI_LP_DRAG_ICN_1.svg');
    background-repeat: no-repeat;
    background-position: left 0.6em center;
    white-space: nowrap;
    position: relative;
}

.nuihplabel.selected {
    background: none repeat scroll 0 0 #C8EAD6;

}

:root.psc_mode-access .nuihplabel > div > div {
    display: none;
}

:root.psc_mode-access .nuihplabel {
    background: none;
}

.nuihplabel > div:first-child {
    margin-bottom: 0em;
}

.nuihplabel > div:first-child > span {
    padding: 1em 2em;
    padding-left: 2.5em;

    display: block;
    color: #000;
    text-decoration: none;
    white-space: normal;
}

.nuihplabel.selected > div:first-child > span {
    font-weight: bold;
}

.nuilpcont {
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: width 0.5s ease; -moz-transition: width 0.5s ease; -ms-transition: width 0.5s ease; transition: width 0.5s ease;
}

.nuilppnl {
    display: inline-block;
    margin: auto;
    width: 100%;
    height: 100%;
}

.nuihppnl.hppnlopen {
    width: 100%;
}

.hppnlclose {
    position: absolute;
    top: calc(50% - 12.5px);
    right: 0.2em;
}

:root.tablet .hppnlclose img {
    width: 1.37em;
}

.lptileadd {
    position: absolute;
    right: 1.2em;
    top: .6em;
}


.NUIAddLP .ps_modal_header {
    margin-bottom: 0em;
}

.addlpselcont {
    position: absolute;
    top:0;
    bottom: 5em;
    left: 0;
    right: 0;
    background: #fff;
	overflow: hidden;
}

.addlpselcont .lplistgrid {
    position: absolute;
    top:2.2em;
    bottom: 0em;
    left: 0;
    right: 0;
	overflow: auto;
}

:root.psc_mode-access .addlpselcont .lplistgrid {
	top:5.2em;
}

.addlpselcont .ps_header-group, .addlpfooter .ps_header-group, .addto .ps_header-group, .addtofooter .ps_header-group {
    margin-top: 0.25em;
    margin-bottom: 0em;
    padding-left: 1em;
    color: #333;
    background: #fff;
}

:root.psc_mode-access .addlpselcont .ps_header-group {
    margin-top: 3em;
}

.addlp_sec .addlpfooter {
    position: absolute;
    border-top: 1px solid #ccc;
    bottom: 0px;
    height: 5em;
    width: 100%;
    background: #fff;
}

.addlp_sec .addlpfooter > div {
    display: inline-block;
    padding: 5px;
}

.addlp_sec .addlpfooter .userhpedit {
    position: absolute;
    left: 10px;
    bottom: 2px;
    width: 65%;
    margin-bottom: 0px;
}

.addlp_sec .addlpfooter .userhpedit > div {
    display: inline-block;
}

.addlp_sec .addlpfooter .userhpedit .ps_box-label {
    display: none;
}

.addlp_sec .addlpfooter .userhpedit > div.ps_box-control, .addlp_sec .addlpfooter .userhpedit > div.ps_box-control input {
    width: 100%;
}

.addlp_sec .addlpfooter .userhpbtn{
    position: absolute;
    right: 10px;
    bottom: 0px;
}


.tileselhp {
    width: 100%;
    white-space: nowrap;
    background: #fff;
    font-weight: bold;
    color: #000;
    border-bottom: 0.08em solid #ccc;
}

.tileselhp span {
    display: block;
    width: 100%;
}

.tileselhp a:link {
    color: #000;
    display: block;
    width: 100%;
    font-size: 1em;
    padding: 0.7em;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;
}


.NUIAddTileLP {
    border: none !important;
    -webkit-border-radius: 1px !important; -moz-border-radius: 1px !important; -ms-border-radius: 1px !important; border-radius: 1px !important; 
    width: 28.46em;
    height: 29em;

}

.NUIAddTileLP iframe {
    width: 28.46em;
    height: 29em;
}

:root:not(.psc_mode-access) .ps_header_modal {
    display: none;
}

.NUIAddTileLP .ps_modal_header {
  margin-bottom: 0em;
}

.NUIAddTileLP .ps_modal_content {
  padding-bottom: 0em;
}

.nuiaddtilepg {
    width: 300px;
    overflow: hidden;
}

.nuiaddtilecont {
    width: 600px;
    -webkit-transition: margin 0.5s; -moz-transition: margin 0.5s; -ms-transition: margin 0.5s; transition: margin 0.5s;
}

.nuiaddtilecont.active {
    margin-left: -300px;
}

.nuiaddtilecont .nuigb {
    width: 300px;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;
}

.nuiaddtilecont .nuigb.nuigbl {
    float: left;
}

.nuiaddtilecont .nuigb.nuigbr {
    margin-left:  300px;
}

:root.psc_mode-access .addtilecontainer {
    background: #fff;
    position: absolute;
    top: 2.8em;
    bottom: 0;
    left: 0;
    right: 0;
}

.NUIMvcpTile iframe {
    width: 300px;
    height: 300px;
}

.lpmvcp-pg {
    width: 300px;
    overflow: hidden;
    position: relative;
    background: #fff;
}

:root:not(.psc_mode-access) .lpmvcp-pg .lpmvcp-close {
    display: none;
}

.lpmvcp-hdr {
    height: 43px;
    border-bottom: 1px solid #bbb;

background-color: #f5f5f5;

-webkit-border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0; -ms-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0;
color: #ab5b1a;

-webkit-box-shadow:0px 8px 10px #fff inset; -moz-box-shadow:0px 8px 10px #fff inset; -ms-box-shadow:0px 8px 10px #fff inset; box-shadow:0px 8px 10px #fff inset; 
}

.lpmvcp-hdr .lpmvcp-back {
    position: absolute;
    left: 0.3em;
    top: 0.3em;
}

.lpmvcp-hdr .lpmvcp-title {
    line-height: 40px;
    margin-bottom: 0px;
    max-width: 70%;
    margin: 0 auto;
}

.lpmvcp-hdr .lpmvcp-title .ps_box-label {
    display: none;
}

.lpmvcp-hdr .lpmvcp-title span {
    display: block;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lpmvcp-hdr .lpmvcp-close {
    position: absolute;
    right: 0.3em;
    top: 0.3em;
}

.lpmvcp-cont {
    width: 600px;
    white-space: nowrap;
    -webkit-transition: margin 0.75s; -moz-transition: margin 0.75s; -ms-transition: margin 0.75s; transition: margin 0.75s;
}

.lpmvcp-cont.active {
    margin-left: -300px;
}

.lpmvcp-cont .nuigb {
    width: 300px;
    display: inline-block !important;
    vertical-align: top;
}

.lpmvcp-cont .nuigb ul li:last-child {
    border-bottom: 1px solid #bbb;
}

.lpmvcp-cont .nuigb ul li.fldr {
    background: url('/cs/had/cache/PT_NUI_CHEVRON_1.svg') no-repeat 97%;
}


.nuilppnl .lptabpnl {
    white-space: nowrap;
    height: 100%;
    width: 100%;
}

.nuilppnl .lptabpnl.fade .ps_box-scrollarea-row {
    visibility: visible;
    opacity: 1;
    -webkit-transition:-webkit-opacity 0.5s linear; -moz-transition:-moz-opacity 0.5s linear; -ms-transition:-ms-opacity 0.5s linear; transition:opacity 0.5s linear;
}

.nuilppnl .lptabpnl.fade .ps_box-scrollarea-row.psc_invisible {
    opacity: 0;
    visibility: hidden;
    -webkit-transition:-webkit-visibility 0s 0.5s; -moz-transition:-moz-visibility 0s 0.5s; -ms-transition:-ms-visibility 0s 0.5s; transition:visibility 0s 0.5s;
}

.nuilppnl .lptabpnl.ani {
    -webkit-transition:-webkit-transform 1s; -moz-transition:-moz-transform 1s; -ms-transition:-ms-transform 1s; transition:transform 1s;
}

.ps_box-scrollarea-row + .ps_box-scrollarea-row {
  margin-top: 0em;
}

.nuilppnl .lptabpnl .ps_box-scrollarea-row {
    width: 100%;
    height: 100%;
    margin-left: 0px !important;
    display: inline-block;
    vertical-align: top;
    overflow: auto;
}




.pt_homepage .ps_footer {
    position: absolute;
    bottom: 0em;
    top: calc(100% - 42px);
    left: 0em;
    right: 0em;
    background-color: transparent;
    border-top: none;
}

:root.pc .pt_homepage .ps_footer.sb {
    right: 16px;
}

.lpfooter {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 42px;
    line-height: 40px;
    background-color: transparent;
    background: rgba(47,83,112,0.8);
    text-align: center;
}

.lpfooter .lpTabIndicators {
    display: inline-block;
    vertical-align: middle;
}

.lpfooter .dot {
    width: 7px;
    height: 7px;
    background: #999999;
    -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; border-radius: 7px;
    float: left;
    margin:    0px 3px;
    border: 2px solid #1d3f5c;
}

.lpfooter .dot.on {
    background: #fff;
}

.lpfooter .lprefresh {
    position: absolute;
    right: 0.25em;
    line-height: 2.6em;
}

.lpfooter .lprefresh img {
-webkit-transform:scale(1.2); -moz-transform:scale(1.2); -ms-transform:scale(1.2); transform:scale(1.2);
    
}

.lpfooter .lprefresh img:hover {
-webkit-transform:scale(1.3); -moz-transform:scale(1.3); -ms-transform:scale(1.3); transform:scale(1.3);
    
}

:root.psc_form-small .nuitilegrid div.ps_grid-row {
    margin-right: 0px;
    margin-bottom: 0px;
}

:root.psc_form-small .nuilppnl .nuilp {
    font-size: 0.85em;
}

.nuihdr_logo:after {
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  content:url(/cs/had/cache/PTNUI_ORACLE_LOGO_1.svg);
  padding-top: 0.25em;
  margin-left: -0.7em;
}

:root.psc_form-small .nuihdr_logo:after {
  padding-top: 0em;
  content:url(/cs/had/cache/PTNUI_ORACLE_LOGO_SFF_1.svg);
}

.persmode .nuihdr_logo:after {
  content: none;
}


:root.psc_form-small .ps_menucontainer .ps_custom_action {
    display: none !important;
}


.lpselbtn .lplistgrid {
    width: 300px;
}

.lpselbtn .ps_modal_content > div > div.ps_content-group {
    max-height: 16.3em;
}

.lplistgrid ul.ps_grid-body {
    list-style: none;
    padding-left: 0em;
    padding-top: 0em;
}


.nuihdr_hpbtn {
    padding-top: 0em;
    position:absolute;
    left:12em;
    right:12em;
    top: 0em;
    bottom: 0em;
    overflow: hidden;
    margin: auto;
}

.nuihdr_hpbtn a {
    background: transparent !important;
    border: none !important;
    -webkit-box-shadow: none !important; -moz-box-shadow: none !important; -ms-box-shadow: none !important; box-shadow: none !important;
    padding: 0em 1.2em !important;
}

.nuihdr_hpbtn a span.ps-text {
    color: #fff;
    text-shadow: none;
    font-size: 1.3em;
    font-weight: normal;
    float: right;
    max-width: 100%;
    line-height: 200%;
}

.ps_box-button.nuihdr_hpbtn img.ps-img {
    padding-right: 0em;
    padding-top: 1.1em;
    margin-left: -1em;
    position: absolute;
    width: 0.7em;
}

:root.psc_form-small .nuihdr_hpbtn {
    left:5em;
    right:5em;
}

.nuihdr_hpbtn > span {
    display: block;
}

.nuihdr_hpbtn > span > a {
    max-width: calc(100% - 2em);
}

.nuihdr_hpbtn > span > a > span.ps-text {
    overflow: hidden;
    text-overflow: ellipsis;
}

:root:not(.pc) .nuitile .psc_rowact:not(.psc_disabled):hover {
  background-color:#fff;
}


:root.psc_mode-hc .nuitile .nuilp {
    border: 1px solid #fff;
}


.nui_cfg-cancel a {

}

.nui_cfg-save {
}
